# ЛР №2

### Импорт библиотек

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import warnings
warnings.filterwarnings('ignore')
sns.set(style="ticks")
%matplotlib inline

In [2]:
data = pd.read_csv('First_Health_Camp_Attended.csv')

In [3]:
data.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN
3      509916            6560        30      0.634146         NaN
4      488006            6560        20      0.024390         NaN

In [4]:
data.dtypes

Patient_ID          int64
Health_Camp_ID      int64
Donation            int64
Health_Score      float64
Unnamed: 4        float64
dtype: object

In [5]:
data.isnull().sum()
# проверим есть ли пропущенные значения

Patient_ID           0
Health_Camp_ID       0
Donation             0
Health_Score         0
Unnamed: 4        6218
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6218 entries, 0 to 6217
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      6218 non-null   int64
 1   Health_Camp_ID  6218 non-null   int64
 2   Donation        6218 non-null   int64
 3   Health_Score    6218 non-null   float64
 4   Unnamed: 4      0 non-null      float64
dtypes: float64(2), int64(3)
memory usage: 243.0 KB

### Обработка пропусков

In [7]:
# Удаляем столбцы, которые не несут значимой информации
data.drop(['Health_Camp_ID'], axis = 1, inplace = True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6218 entries, 0 to 6217
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Patient_ID    6218 non-null   int64
 1   Donation      6218 non-null   int64
 2   Health_Score  6218 non-null   float64
 3   Unnamed: 4    0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 194.4 KB

In [9]:
# Заполняем отсутствующие значения 
data['Unnamed: 4'] = data['Unnamed: 4'].replace(np.nan,0)
data['Unnamed: 4'] = data['Unnamed: 4'].fillna(data['Unnamed: 4'].mean())

In [10]:
data.head()

   Patient_ID  Donation  Health_Score  Unnamed: 4
0      506181        40      0.439024         0.0
1      494977        20      0.097561         0.0
2      518680        10      0.048780         0.0
3      509916        30      0.634146         0.0
4      488006        20      0.024390         0.0

In [11]:
data.isnull().sum()
# проверим есть ли пропущенные значения

Patient_ID      0
Donation        0
Health_Score    0
Unnamed: 4      0
dtype: int64